<div class="content-container">
    <div class="bg-top"></div>
    <div>
        <i id="btn-back" class="waves-effect waves-light material-icons arrow-back">
            arrow_back
        </i>

        <div class="my-space-top"></div>

        <div class="title">
            Destinasi
        </div>

        <div class="search-bar">
            <div class="my-search-placeholder">Mau kemana harı ini?</div>
        </div>

        <div class="carousel" style="height: 160px">
            <a class="carousel-item waves-effect waves-light" href="#one!" style="height: 160px; width: 121px;">
                <img class="my-rounded-img" src="images/nature.jfif">
                <div class="image-caption">Taman</div>
            </a>
            <a class="carousel-item waves-effect waves-light" href="#two!" style="height: 160px; width: 121px;">
                <img class="my-rounded-img" src="images/nature2.jfif">
                <div class="image-caption">Curug</div>
            </a>
            <a class="carousel-item waves-effect waves-light" href="#three!" style="height: 160px; width: 121px;">
                <img class="my-rounded-img" src="images/nature3.jfif">
                <div class="image-caption">Kota</div>
            </a>
            <a class="carousel-item waves-effect waves-light" href="#four!" style="height: 160px; width: 121px;">
                <img class="my-rounded-img" src="images/nature.jfif">
                <div class="image-caption">Taman</div>
            </a>
        </div>

        <div style="margin-top: 2rem;">
            <div class="my-sub-title">
                Top 3 Wisata Banyumas
            </div>

            <div id="top-rated-list"></div>

            <!-- Top Rated Item -->
            <div id="item-destination" hidden>
                <div class="d-flex waves-effect waves-light">
                    <img id="item-destination-photo" style="border-radius: 10%" width="74px" height="74px"
                        src="images/nature.jfif">
                    <div class="d-flex flex-column px-2" style="flex: 1;">
                        <div id="item-destination-title" class="my-item-destination-title">
                            -
                        </div>
                        <div class="d-flex align-items-center">
                            <i class="material-icons my-rating-icon">star</i>
                            <div id="item-destination-rating" class="my-rating-text">0</div>
                        </div>
                        <div class="d-flex" style="flex: 1;">
                            <div id="item-destination-tag" class="align-self-end my-item-destination-tag"></div>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
            </div>
            <!-- Top Rated Item -->

        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        initCarousel();
        getBestRatedDestination();
    });

    $('#btn-back').click(function () {
        $('#content').empty();
        $("#content").load("screen/home.html");
    });

    function getBestRatedDestination() {
        $.ajax({
            type: "GET",
            url: api_url + 'best-rated-destination.php',
            dataType: 'json',
            success: function (res) {
                console.log(res);

                var iteration = 0;
                res.results.forEach(element => {
                    if (iteration < 3) {
                        var block = $("#item-destination").clone().attr("id", "item-destination-" + iteration.toString()).removeAttr('hidden');
                        block.find("#item-destination-title").html(element.name);
                        block.find("#item-destination-photo").attr('src', 'https://maps.googleapis.com/maps/api/place/photo?key=' + maps_key + '&photoreference=' + element.photos[0].photo_reference + '&maxwidth=400');
                        block.find("#item-destination-rating").html(element.rating);
                        block.find("#item-destination-tag").html(element.types[0]);
                        $("#top-rated-list").append(block);
                    }

                    iteration += 1;
                });

                $("#item-destination").hide();
            },
            error: function (request, status, error) {
                console.log(error);
            }
        });
    }

    function initCarousel() {
        $('.carousel').carousel({
            fullWidth: true,
            padding: 16,
            noWrap: true,
        });
    }
</script>