<div class="card" style="margin: 0">
    <div>
        <img id="news-image" class="my-news-image-bg">
        <i id="btn-back" class="waves-effect waves-light material-icons arrow-back my-arrow-back-float"
            style="color: white;">
            arrow_back
        </i>
    </div>
    <div class="content-container">
        <div style="flex: 1; flex-direction: column;">
            <div id="detination-title" class="my-news-item-title">
                -
            </div>
            <div id="news-time" class="my-news-item-time">
                -
            </div>
            <div id="news-content" class="my-news-item-content">
                -
            </div>
        </div>
    </div>
</div>