<div class="content-container">
    <div class="bg-top"></div>
    <div>
        <i id="btn-back" class="waves-effect waves-light material-icons arrow-back">
            arrow_back
        </i>

        <div class="my-space-top"></div>

        <div class="title">
            Event Terdekat
        </div>

        <div class="search-bar">
            <div class="my-search-placeholder">Mau datang ke event apa?</div>
        </div>

        <div class="carousel" style="height: 160px">
            <a class="carousel-item waves-effect waves-light" href="#one!" style="height: 160px; width: 121px;">
                <img class="my-rounded-img" src="images/nature.jfif">
                <div class="image-caption">Pawai</div>
            </a>
            <a class="carousel-item waves-effect waves-light" href="#two!" style="height: 160px; width: 121px;">
                <img class="my-rounded-img" src="images/nature2.jfif">
                <div class="image-caption">Musik</div>
            </a>
            <a class="carousel-item waves-effect waves-light" href="#three!" style="height: 160px; width: 121px;">
                <img class="my-rounded-img" src="images/nature3.jfif">
                <div class="image-caption">Pelatihan</div>
            </a>
        </div>

        <div style="margin-top: 2rem;">
            <div class="my-sub-title">
                Event terdekat
            </div>

            <div id="event-list"></div>

            <!-- Event Item -->
            <div id="item-event" hidden>
                <div class="d-flex waves-effect waves-light">
                    <img id="item-event-photo" style="border-radius: 10%" width="74px" height="74px"
                        src="images/nature.jfif">
                    <div class="d-flex flex-column px-2" style="flex: 1;">
                        <div id="item-event-title" class="my-item-destination-title">
                            -
                        </div>
                        <div class="d-flex align-items-center">
                            <i class="material-icons my-rating-icon">star</i>
                            <div id="item-event-rating" class="my-rating-text">0</div>
                        </div>
                        <div class="d-flex" style="flex: 1;">
                            <div id="item-event-tag" class="align-self-end my-item-destination-tag"></div>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
            </div>
            <!-- Event Item -->

        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        initCarousel();
        getEventList();
    });

    $('#btn-back').click(function () {
        $('#content').empty();
        $("#content").load("screen/home.html");
    });

    function getEventList() {
        $.ajax({
            type: "GET",
            url: api_url + 'event-feed.php',
            dataType: 'json',
            success: function (res) {
                console.log(res);

                var iteration = 0;
                res.events.forEach(element => {
                    if (iteration < 5) {
                        var block = $("#item-event").clone().attr("data-index", iteration.toString()).removeAttr('hidden');
                        block.find("#item-event-title").html(element.name.text);
                        block.find("#item-event-photo").attr('src', element.logo.original.url);
                        block.find("#item-event-rating").html(element.status.toUpperCase());
                        block.find("#item-event-tag").html(moment(element.start.local).format('DD MMM YYYY') + ' s/d ' + moment(element.end.local).format('DD MMM YYYY'));
                        $("#event-list").append(block);
                    }

                    iteration += 1;
                });

                $("#item-destination").hide();
            },
            error: function (request, status, error) {
                console.log(error);
            }
        });
    }

    function initCarousel() {
        $('.carousel').carousel({
            fullWidth: true,
            padding: 16,
            noWrap: true,
        });
    }
</script>