<div class="card" style="margin: 0">
    <div id="top-bg" class="my-bg-evening">
    </div>

    <div class="content-container" style="position: relative; z-index: 2;">
        <div id="greeting-text" class="my-text-greeting"></div>

        <div class="d-flex flex-row-reverse align-items-end">
            <img src="images/clouded-moon.png" alt="Clouded Moon">
            <div id="quote-text" class="my-text-quote"></div>
        </div>

        <div class="carousel" style="height: 10rem; margin-top: 2rem;">
            <a class="carousel-item waves-effect waves-light" href="#one!" style="height: 10rem; width: 19rem;"><img
                    class="my-rounded-img" style="height: 10rem;" src="https://picsum.photos/350/150?random=1"></a>
            <a class="carousel-item waves-effect waves-light" href="#two!" style="height: 10rem; width: 19rem;"><img
                    class="my-rounded-img" style="height: 10rem;" src="https://picsum.photos/350/150?random=2"></a>
            <a class="carousel-item waves-effect waves-light" href="#three!" style="height: 10rem; width: 19rem;"><img
                    class="my-rounded-img" style="height: 10rem;" src="https://picsum.photos/350/150?random=3"></a>
            <a class="carousel-item waves-effect waves-light" href="#four!" style="height: 10rem; width: 19rem;"><img
                    class="my-rounded-img" style="height: 10rem;" src="https://picsum.photos/350/150?random=4"></a>
        </div>

        <div class="content-container d-flex justify-content-around" style="margin-top: 1.5rem;">
            <div id="menu-destinasi" class="d-flex flex-column justify-content-center align-items-center">
                <div class="waves-effect waves-light my-menu-container">
                    <img src="images/map-point.png" alt="Destinasi">
                </div>
                <div class="my-menu-label">
                    Destinasi
                </div>
            </div>

            <div id="menu-event" class="d-flex flex-column justify-content-center align-items-center">
                <div class="waves-effect waves-light my-menu-container">
                    <img src="images/appointment.png" alt="Acara">
                </div>
                <div class="my-menu-label">
                    Acara
                </div>
            </div>

            <div id="menu-traffic" class="d-flex flex-column justify-content-center align-items-center">
                <div class="waves-effect waves-light my-menu-container">
                    <img src="images/traffic-lights.png" alt="Trafik">
                </div>
                <div class="my-menu-label">
                    Trafik
                </div>
            </div>

        </div>
    </div>
</div>

<div id="news-list" class="card" style="margin-top: 0.5rem">
</div>

<!-- News item -->
<div id="news-item" onclick="loadNewsDetail(this)" hidden>
    <div class="waves-effect waves-light content-container d-flex flex-row-reverse align-items-center">
        <img id="news-item-image" style="border-radius: 10%" width="74px" height="74px"
            src="https://picsum.photos/150/150?random=1" alt="News Image">
        <div style="flex: 1; flex-direction: column;">
            <div id="news-item-source" class="my-news-item-source">
                detikNews
            </div>
            <div id="news-item-title" class="my-news-item-title">
                Bawaslu Berikan Santunan Kecelakaan Kerja 8 Pengawas Pem…
            </div>
            <div id="news-item-time" class="my-news-item-time">
                Today
            </div>
        </div>
    </div>
    <div class="divider" style="margin-bottom: 0.5;"></div>
</div>
<!-- News item -->

<script>
    $(document).ready(function () {
        greeting();
        initCarousel();
        getQuote();
        getNewsFeed();
    });

    function greeting() {
        var d = new Date();
        var time = d.getHours();

        if (time >= 1 && time <= 10) {
            $("#greeting-text").html("Selamat Pagi");
            $("#greeting-text").css("color", "#0d3f67");
            $("#quote-text").css("color", "#0d3f67");
            $("#top-bg").removeClass();
            $("#top-bg").addClass("my-bg-morning");
        } else if (time >= 11 && time <= 14) {
            $("#greeting-text").html("Selamat Siang");
            $("#greeting-text").css("color", "#0d3f67");
            $("#quote-text").css("color", "#0d3f67");
            $("#top-bg").removeClass();
            $("#top-bg").addClass("my-bg-afternoon");
        } else if (time >= 15 && time <= 18) {
            $("#greeting-text").html("Selamat Sore");
            $("#greeting-text").css("color", "#0d3f67");
            $("#quote-text").css("color", "#0d3f67");
            $("#top-bg").removeClass();
            $("#top-bg").addClass("my-bg-evening");
        } else {
            $("#greeting-text").html("Selamat Malam");
            $("#greeting-text").css("color", "#ffffff");
            $("#quote-text").css("color", "#ffffff");
            $("#top-bg").removeClass();
            $("#top-bg").addClass("my-bg-night");
        }
    }

    function initCarousel() {
        $(".carousel").carousel({
            fullWidth: true,
            padding: 16,
            noWrap: true
        });
    }

    function getQuote() {
        $.ajax({
            type: "GET",
            url: api_url + "quote.php",
            dataType: "json",
            crossDomain: true,
            success: function (res) {
                console.log(res);
                $("#quote-text").html(res.data);
            },
            error: function (request, status, error) {
                var response = JSON.parse(request.responseText);
                console.log(response);
            }
        });
    }

    function getNewsFeed() {
        $.ajax({
            type: "GET",
            url: api_url + 'news-feed.php',
            dataType: 'json',
            success: function (res) {
                console.log(res);

                localStorage.setItem('news-list', JSON.stringify(res.articles));
                var iteration = 0;
                res.articles.forEach(element => {
                    if (iteration < 5) {
                        var block = $("#news-item").clone().attr("data-index", iteration.toString()).removeAttr('hidden');
                        block.find("#news-item-source").html(element.source.name);
                        block.find("#news-item-image").attr('src', element.urlToImage);
                        block.find("#news-item-title").html(element.title);
                        block.find("#news-item-time").html(moment(element.publishedAt).fromNow());
                        $("#news-list").append(block);
                    }

                    iteration += 1;
                });

                $("#item-destination").hide();
            },
            error: function (request, status, error) {
                console.log(error);
            }
        });
    }

    function loadNewsDetail(elem) {
        localStorage.setItem('selected-news-index', $(elem).attr("data-index"));
        $("#content").load("screen/news-detail.html");
    }

    $('#menu-destinasi').click(function () {
        $('#content').empty();
        $("#content").load("screen/destinasi.html");
    });

    $('#menu-event').click(function () {
        $('#content').empty();
        $("#content").load("screen/event.html");
    });

    $('#menu-traffic').click(function () {
        $('#content').empty();
        $("#content").load("screen/maps-traffic.html");
    });
</script>