<div id="map" class="my-maps-full"></div>

<script>
    var map;

    $(document).ready(function () {
        initMap();
        getLocation();
    });

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                // map.setCenter({
                //     lat: position.coords.latitude,
                //     lng: position.coords.longitude
                // });
                // map.setZoom();
            });
        } else {
            alert("Geolocation is not supported by this browser.");
        }
    }

    function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
            center: {
                lat: -7.444074,
                lng: 109.161009
            },
            zoom: 11,
            streetViewControl: false,
            mapTypeControl: false,
            fullscreenControl: false
        });
        var trafficLayer = new google.maps.TrafficLayer();
        trafficLayer.setMap(map);
    }
</script>