<div class="card" style="margin: 0">
    <div>
        <img id="news-image" class="my-news-image-bg">
        <i id="btn-back" class="waves-effect waves-light material-icons arrow-back my-arrow-back-float"
            style="color: white;">
            arrow_back
        </i>
    </div>
    <div class="content-container">
        <div style="flex: 1; flex-direction: column;">
            <div id="news-source" class="my-news-item-source">
                -
            </div>
            <div id="news-title" class="my-news-item-title">
                -
            </div>
            <div id="news-time" class="my-news-item-time">
                -
            </div>
            <div id="news-content" class="my-news-item-content">
                -
            </div>
        </div>
    </div>
</div>

<div class="card" style="margin-top: 0.5rem">
    <div class="my-sub-title-2" style="padding-left: 1rem;">Baca juga</div>
    <div id="news-list"></div>
</div>

<!-- News item -->
<div id="news-item" onclick="loadNewsDetail(this)" hidden>
    <div class="waves-effect waves-light content-container d-flex flex-row-reverse align-items-center">
        <img id="news-item-image" style="border-radius: 10%" width="74px" height="74px"
            src="https://picsum.photos/150/150?random=1" alt="News Image">
        <div style="flex: 1; flex-direction: column;">
            <div id="news-item-source" class="my-news-item-source">
                detikNews
            </div>
            <div id="news-item-title" class="my-news-item-title">
                Bawaslu Berikan Santunan Kecelakaan Kerja 8 Pengawas Pem…
            </div>
            <div id="news-item-time" class="my-news-item-time">
                Today
            </div>
        </div>
    </div>
    <div class="divider" style="margin-bottom: 0.5;"></div>
</div>
<!-- News item -->

<script>
    $(document).ready(function () {
        loadNews();
    });

    $('#btn-back').click(function () {
        $('#content').empty();
        $("#content").load("screen/home.html");
    });

    function loadNewsDetail(elem) {
        localStorage.setItem('selected-news-index', $(elem).attr("data-index"));
        loadNews();
    }

    function loadNews() {
        var newsIndex = localStorage.getItem('selected-news-index');
        var newsList = localStorage.getItem('news-list');
        newsList = JSON.parse(newsList);
        var selectedNews = newsList[newsIndex];

        newsList.splice(parseInt(newsIndex), 1);

        $('#news-image').attr('src', selectedNews.urlToImage);
        $('#news-source').html(selectedNews.source.name);
        $('#news-title').html(selectedNews.title);
        $('#news-time').html(moment(selectedNews.publishedAt).fromNow());
        $('#news-content').html(selectedNews.content);

        $("#news-list").empty();
        var iteration = 0;
        newsList.forEach(element => {
            if (iteration < 5) {
                var block = $("#news-item").clone().attr("data-index", iteration.toString()).removeAttr('hidden');
                block.find("#news-item-source").html(element.source.name);
                block.find("#news-item-image").attr('src', element.urlToImage);
                block.find("#news-item-title").html(element.title);
                block.find("#news-item-time").html(moment(element.publishedAt).fromNow());
                $("#news-list").append(block);
            }

            iteration += 1;
        });
    }

    function getNewsList() {

    }
</script>